{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
   
    <title>Document</title>
</head>
<body>
    <div class="main">
        <nav>
            <ul class="d-flex justify-content-between align-items-center">
               <div id="nav-upper" class="d-flex">
                <li><a href="{% url "home" %}">Home</a></li>
                <li><a href="{% url "form" %}">Registration form</a></li>
                </div >
               <div class="d-flex" id="nav-ld">
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                         <li><a href="{% url "dashboard" %}">dashboard</a></li>
                    {% endif %}
                    <li><a href="{% url "logout" %}" class="btn primary" style="padding: 0.5rem;">logout</a></li>
                {% else %}
                    <li><a href="{% url "admin_login" %}" class="btn primary" style="padding: 0.5rem;">Login</a></li>
                {% endif %}
               </div>
            </ul>
            <img src="{% static "images/logo.jpg" %}" alt="Nielit logo">
        </nav>
        <h3 id="pad">Nielit Delhi Centre</h3>
        
        {% block content %}
        {% endblock %}
        <footer>
            <p class="mb-0">Designed and Developed by: NIELIT Delhi Centre<br>
This site is best optimized for 1366 x 768 resolution and Google Chrome latest Version 96.0.4664.110 & above</p>
        </footer>  
    </div>
</body>
</html>