{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Submission Successful</title>
</head>
<body>

<div class="main">
    <nav>
        <img src="{% static 'images/logo.png' %}" alt="NIELIT Logo">
    </nav>

    <div class="form">
        <div class="upper">
            <h1>Submission Successful</h1>
            <p>Your registration for the <u>NIELIT Job Fair 2026</u> has been submitted successfully.</p>
            <p>Thank you for participating.</p>
            <p>You will be contacted by the NIELIT team if shortlisted.</p>
            <h4>Please keep your phone and email active for updates.</h4>
        </div>

        
            <a href="{% url "form" %}"><button type="submit">Go Back</button></a>
        
    </div>
</div>

</body>
</html>
