*{  
    margin: 0;  
    padding: 0;  
    font-family: Arial, Helvetica, sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.main{
  width: 80%;
  display: flex;
  flex-direction: column;

}
.main>nav>img{
  width: 100%;
}
.main>nav>ul{
  list-style: none;
  display: flex;
  gap: 1rem;
  background-color: grey;
  padding: 1rem;
;
}
.main>nav>ul>li{
  
}
.main>nav>ul>li>a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  
}
footer>p{
  text-align: center;
  margin-top: auto;
  background-color: purple;
  color: white;
  padding: 1rem;
}
#pad{
  text-align: center;
  margin-top: 1rem;
  color: black;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: lighter;
  background-color: lightgrey ;
  margin-bottom: 1rem;
}
#info{
  width: 100%;
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.555);
  flex-direction: column;
}
#info>h2{
  background-color: rgb(81, 187, 222);
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 400  ;
}
#info>h3{
  align-content: flex-end;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}