{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>NIELIT - Job Fair Registration</title>
</head>
<body>
    <div class="main">
        <nav>
            <img src="{% static "images/logo.png" %}" alt="">
        </nav>
        <div class="form">
            <div class="upper">
                    <h1>NIELIT - Job Fair Registration 2026</h1>
                    <p><u>Venue of Job fair:</u>NIELIT DELHI CENTRE, JANAKPURI IETE Building, Institutional Area, 16/1-2,<br>
                    D Block, Pankha Road, Near Sagarpur Police Station, Janakpuri New Delhi - 110058</p>
                    <p><u>Date:</u> 21st February 2026</p>
                    <p><u>Contact No:</u> 49878223, 20824140</p>
                    <p><u>Mob:</u> 8447795337,9891555904</p>
                    <p><u>Email:</u> delhi.training@nielit.gov.in, swdelhi-trg@nielit.gov.in , eastdelhi@nielit.gov.in</p>
                    <p>Please fill the details for participating in Job fair</p>
                    <h4>*(Last date to fill the form is 14 February 2026 till 5:00 PM)</h4>
                    <p style="color: tomato;">* indicates required fields</p>
                </div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
                
            </form>
        </div>
    </div>
    
</body>
</html>